.inputContainer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 34px;
    justify-content: space-between;
}

.placeholder {
    font-size: 14px;
    font-weight: bold;
    color: #3cab2b;
    line-height: 32px;
}

.inputBorder {
    height: 30px;
    border: 1px solid #acafab;
    border-radius: 6px;
    margin-left: 6px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBorderDanger {
    composes: inputBorder;
    border: 1px solid red;
}

.input {
    border: none;
    background: transparent;
    margin-left: 5px;
    margin-right: 5px;
}