.dashBoardContainer{
    width: 96%;
    height: auto;
    margin-top: 10px;
}

.textStyle {
    display: flex;
    justify-content: flex-start;
    height: auto;
}

.graphicContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}