.registerPlantContainer{
    width: 96%;
    height: auto;
    margin-top: 10px;
}

.textStyle {
    display: flex;
    justify-content: flex-start;
    height: auto;
}

.formStyle{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.inputStyle {
    width: 350px;
}

.buttonStyle {
    width: 350px;
    display: flex;
    margin-top: 20px;
}
