.selectContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.titleStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #3cab2b;
    cursor: pointer;
}

.headerContainer{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center
}

.list {
    border: 1px solid #b7b2b2 ;
    width: 164px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 20px;
    background-color: #ffffff;
    z-index: 2;
    border-radius: 4px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    overflow: auto;
    width: 100%;
}

.optionStyle {
    font-size: 14px;
    font-weight: bold;
    color: #6a4880;
    cursor: pointer;
}

.optionStyleOver {
    font-size: 14px;
    font-weight: bold;
    color: #6a4880;
    cursor: pointer;
    opacity: 0.6;
}